<div class="container content jumbotron">
    <div class="row well">

        <h4>Reset Password</h4>

        <fieldset>
            <label for="email">Enter email</label>
            <input type="text" class="form-control" id="email" name="email" data-ng-model="FPCTRL.pass.email">
        </fieldset>
        </fieldset>
        <br>
        <label for="question">Select Your Security question</label>
        <br>
        <select name="question" id="question" ng-options="option for option in FPCTRL.data" data-ng-model="FPCTRL.pass.question"></select>

        <fieldset>
            <label for="answer">Answer Your Security Question</label>
            <input type="text" data-ng-model="FPCTRL.pass.answer">
        </fieldset>
        <br>
        <button type="submit" class="btn btn-primary" data-ng-click="FPCTRL.forgotPassword()" >Reset Password</button>

    </div>
</div>