<!-- <div class="container">
    <div class="row">
        <h2>Access.com</h2>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" ui-sref="home">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" ui-sref="login">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" ui-sref="register">Register</a>
        </ul>
    </div>
</div> -->

<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark" style="background: skyblue;">
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button> -->

        <!-- Brand -->
        <a class="navbar-brand" href="#" style="background: skyblue;">Logo</a>
    </nav>
</div>

<div class="container">
    <div class="row">
     <blockquote class="blockquote-text-right">
            <!-- <p style="background-color: skyblue;"> -->
            <p>Most of us are awash with beliefs of all sorts. We are steeped in the common sense and prevailing wisdom of our
                <q>culture, traditions, communities, profession, family, and friends.<q>
            </p>
            <footer>Tom Campbell
                <cite>in Big Toe</cite>
            </footer>
        </blockquote>
        
        <figure>
            <blockquote>[Big old quotation about evolution]</blockquote>
            <figcaption>Charles Darwin</figcaption>
        </figure>
        <p>According to <cite>the Bible</cite>, after six days God said <q>screw this for a lark, I'm having a nap</q>.</p>


    </div>
</div>