.container-fluid {
    padding: 60px 50px;
}

input[type="text"]
{
    width:300px
}

input[type="number"]
{
    width: 300px;
}

input[type="password"]
{
    width:300px;
}
.content {
    max-width: 500px;
    margin: auto;
}
body {
    padding-top: 54px;
  }
  
  @media (min-width: 492px) {
    body {
      padding-top: 56px;
    }
  }
  
.center {
    text-align: center;
    color: #0f6e9e;
}
  