<div class="container">
        <div style="background-color:#989ba0;text-align:center;padding:10px;margin-top:7px;
        font-size:12px;">Segment</div>

        <div class="row">
                <blockquote>
                        <q>Know the difference between those who stay to feed the soil and those who come to grab the fruit.</q>

                </blockquote>
                <q>
                        Move in silence only speak, when it's time to CHECKMATE.
                </q>

                <q>
                        Our first teacher is our own heart
                </q>
                <q>
                        We have two ears and one mouth so that we can listen twice as much as we speak. ~Epictetus

                </q>
        </div>

</div>