<div class="container">
    <div class="row">
        <h4 class="center">
            <h4></h4>"Our first teacher is our own heart"</h4>
        </h4>
        <blockquote class="blockquote-text-right">
            <p>
                <mark>There is a tale that goes something like this:</mark>
                <br> An old Cherokee told his grandson, “My son, there is a battle between two wolves inside us all. One is Evil.
                It is anger, jealousy, greed, resentment, inferiority, lies, and ego. The other is Good. It is joy, peace,
                love, hope, humility, kindness, empathy, and truth.” The boy thought about it, and asked, “Grandfather, which
                wolf wins?” The old man quietly replied, “The one you feed.”
                <footer>-Author Unknown</footer>
        </blockquote>

        In quiet moments, you may have felt it—that tugging feeling in the pit of your stomach or in your chest when something is
        not right. How many times have you known something about a person or situation, but ignored it only to have your
        suspicions confirmed? You may look outside yourself for answers, thinking that accessing your inner wisdom engenders
        mistrust, fear, and doubt, especially when there is no evidence to back it up. But you were gifted with this inner
        “knowingness” and by building a relationship of trust with this voice, it can lead to an empowered life filled with
        desirous outcomes. Start to pay attention, and you will slowly begin to hear the different voices or “wolves” within
        you, and the choice will become yours as to which one you will feed.</p>

        </blockquote>

        <!-- Categories -->
        <div class="container">

            <!-- Introduction Row
    <h1 class="my-4">Categories
      <small></small>
    </h1>
    <p></p> -->

            <!-- Team Members Row -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="my-4 center">Segments</h2>
                </div>
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/assets/images/tech.jpg" alt="Cinque Terre" width="210" height="210">
                    <!-- <img src="/assets/images/tech.jpg" class="rounded" alt="Cinque Terre" width="204" height="200"> -->
                    <a ui-sref="segment">
                        <h5>Education
                        </h5>
                    </a>
                    <p style="font-family: 'Times New Roman'; color:navy">Develop a Passion for learning. If you do, you will never cease to grow!!</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/assets/images/tech.jpg" alt="Cinque Terre" width="210" height="210">
                    <h5 ui-sref="segment">Segment2</h5>

                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/assets/images/opinion.jpg" alt="Cinque Terre" width="210" height="210">
                    <h5 ui-sref="segment">Success</h5>

                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/assets/images/visual.jpg" alt="Cinque Terre" width="210" height="210">
                    <h5 ui-sref="segment">Happiness</h5>

                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/assets/images/design.jpg" alt="Cinque Terre" width="210" height="210">
                    <h5>segment3</h5>
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/assets/images/cat.jpg" alt="Cinque Terre" width="210" height="210">
                    <h5>Health</h5>
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>
            </div>




        </div>
    </div>